<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congradulations, <%= @user.name %></h1>
    <p>
      Your restaurant has a new review,
    </p>
    <p>
      To view the review, just follow this link: <%= @url %>.
    </p>
    <p>Thank you for using our website!</p>
  </body>
</html>
