.profile-avatar {
  display: inline-block;
  float: left;
  padding: 5px;
  border: 1px solid silver;
  margin: 10px;
  border-radius: 5px;
}

.profile-text {
  display: inline-block;
  margin-bottom: 25px;
}
