.image-container a {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  margin-top: 35px;
  object-position: center;
  object-fit: cover;
  padding: 0;
  float: none;
  display: inherit;
  position: relative;
}

.restaurant-tile {
  border-left: 5px solid #FFC52C;
  border-right: 5px solid #FFC52C;
  height: 400px;
  background-color: #F6F6F6;
  border-top: .25px solid silver;
  border-bottom: .25px solid silver;
  border-radius: 5px;
  margin-top: 0px;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 2px 2px 9px 0px #888888;
}



.restaurantDataLeft a{
  float: none;
  margin: 0;
  padding: 0;
}


.restaurant-image {
  width: 300px;
  height: 300px;
  border: 1px solid silver;
  border-radius: 5px;
  object-position: center;
  object-fit: cover;
}
.nameStrong {
  margin-top: 0;
  padding-top: 0;
  font-size: 24px;
  clear: left;
  font-weight: bold;
  color: black;
}
.dollarValue {
  font-size: 16px;
  color: #85bb65;
}
.contactLabel {
  font-weight: bold;
  font-size: 25px;
}
.restaurantLeft {
  font-size: 20px;
  width: 30%;
}
.restaurantRight {
  padding-top: 15px;
  width: 70%;
}
.restaurantDataLeft {
  padding-top: 10px;
  margin-left: 0;
  width: 30%;
}

.restaurantDataRight {
  width: 70%;

}
