

* {
  padding: 0;
  margin: 0;
}
span {
  margin-left: 10px;
  min-width: 50px;
  border: 2px solid silver;
  padding: 15px;
}
p {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
}
.reviewValue {
  margin: 0;
  padding: 0;
  height: 18px;
  width: 100px;
  margin-bottom: 10px;
  color: #FFC52C;
}

.reviewIndexHeader {
  padding-left: 20px;
}

img.profilePhoto {
  float: left;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border: 1px solid silver;
  object-position: center;
  object-fit: cover;
}

.reviewHeaderTitle {
  height: 100%;
  color: #56595C;
  padding-top: 2px;
  padding-left: 25px;
  margin-left: 20px;
  width: 400px;
}

.reviewHeaderTitle {
  height: 100%;
  color: #56595C;
  padding-top: 2px;
  padding-left: 25px;
  margin-left: 20px;
  width: 400px;
}
.newReviewHeader {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #56595C;
  border-left: 5px solid #E7EDEA;
  border-right: 5px solid #E7EDEA;
  height: 50px;
  width: 550px;
  background-color: #F6F6F6;
  border-top: .25px solid silver;
  border-bottom: .25px solid silver;
  border-radius: 5px;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 20px;
  box-shadow: 2px 2px 9px 0px #888888;
}
.reviewHeader {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #56595C;
  border-left: 5px solid #E7EDEA;
  border-right: 5px solid #E7EDEA;
  height: 50px;
  background-color: #F6F6F6;
  border-top: .25px solid silver;
  border-bottom: .25px solid silver;
  border-radius: 5px;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 20px;
  box-shadow: 2px 2px 9px 0px #888888;
}
.review-container {
  border-left: 5px solid #FFC52C;
  border-right: 5px solid #FFC52C;
  height: 360px;
  background-color: #F6F6F6;
  border-top: .25px solid silver;
  border-bottom: .25px solid silver;
  border-radius: 5px;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 90px;
  padding-top: 10px;
  padding-bottom: 90px;
  padding-left: 10px;
  padding-right: 20px;
  box-shadow: 2px 2px 9px 0px #888888;
}
.column {
  float: left;
  height: 360px;
  overflow: hidden
}
.left {
  background-color: #F6F6F6;
  padding-top: 30px;
  width: 15%;
  color: #56595C;
  border-right: 2px solid silver;
  height: 320px;
}

.middle {
  padding-top: 15px;
  width: 33%;
  color: #56595C;
  background-color: #F6F6F6;
  border-right: 2px solid silver;
  height: 320px;
}
.right {
  padding-top: 10px;
  width: 52%;
  height: 90%;
  color: #56595C;
  background-color: #F6F6F6;
  height: 295px;
}
.innerLeft {
  padding-top: 10px;
  width: 50.0%;
  border: none;
}
.innerRight {
  padding-top: 10px;
  width: 50.0%;
  border: none;
}
.commentsLeft {
  padding-left: 0;
  padding-top: 10px;
  height: 70%;
  width: 99.0%;
  padding-right: 5px;
  border-bottom: 2px solid silver;
}
.commentsRight {
  padding-left: 0px;
  padding-top: 30px;
  height: 100px;
  width: 99.0%;
  border: none;
}

.commentTitle {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 32px;
}

.commentBody {
  height: 100px;
  overflow: scroll;
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
}
#date, strong#date {
  margin-left: 0;
  padding-top: 0;
  padding-left: 0;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  border: none;
  color: #adc0b4;
}
