* {
  padding: 0;
  margin: 0;
}

.searchContainer {
  background-image: url("https://static.pexels.com/photos/349610/pexels-photo-349610.jpeg");
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid red;
}

.searchBar {
  height: 30vh;
  padding-top: 8vh;
  width: 40vw;
  margin:  0 auto;
  font-family: 'Roboto', sans-serif;
}

.chart {
  margin-top: 30px;
}
