* {
  padding: 0;
  margin: 0;

}

.searchContainer {
  background-image: url("https://static.pexels.com/photos/326278/pexels-photo-326278.jpeg");
}

.searchBar {
  height: 30vh;
  padding-top: 8vh;
  width: 40vw;
  margin:  0 auto;
  font-family: 'Roboto', sans-serif;
}

.chart {
  margin-top: 30px;
}
